body {
  background:linear-gradient(90deg, #7474BF 10%, #348AC7 90%);;
  max-width:100%;
  overflow-x: hidden;
}



footer {
  background:linear-gradient(90deg, #7474BF 10%, #348AC7 90%);
  padding: 10px;
  text-align: center;
  color: white;
  height: 28%;
  max-width:100%;
}

header{
  background:linear-gradient(90deg, #7474BF 10%, #348AC7 90%);
  padding: 10px;
  text-align: center;
  color: white;
  height: 20%;
  max-width:100%;
  display:none;
}



.container-fluid {
    padding-right:5px;
    padding-left:5px;
    margin-right:auto;
    margin-left:auto
 }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
}
#footerLogo{
background:none;
border:none;
width: 150px;
margin-left: 30px;
margin-right: 30px;
margin-top: 30px;
max-width: 100%;
height: auto;
}

#headerLogo{
align: center;
background:none;
border:none;
width: 90px;
margin-top: 2px;
margin-bottom: 2px;
max-width: 100%;
height: auto;
}


img{
max-width:100%;
}

@media only screen and (max-width:600px){
 #footerLogo{
 display:none;
 }
 #hiddenHeader{
 display:block;
 }
}

