#weather_wrapper{
	width: 100%;
    height: 203px;
    border: 5px rgb(42, 178, 234) solid;
    border-radius: 6px;
}
.weatherCard{
	width: 100%;
	height: auto;
	font-family: 'Open Sans';
	position: relative;
}
.currentTemp{
	width: 50%;
	height: 200px;
	background: rgb(41, 41, 41);
	position: absolute;
	top: 0;
	left: 0;
}
.currentWeather{
	width: 50%;
	height: 200px;
	background: rgb(237, 237, 237);
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}
.temp{
	font-size: 62px;
	text-align: center;
	display: block;
	font-weight: 300;
	color: rgb(255, 255, 255);
	padding: 20px 0 0;
}

.location{
	color: rgb(255, 255, 255);
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 36px;
	display: block;
}
.conditions{
	font-family: weathericons;
	font-size: 30px;
	display: block;
	padding: 20px 0 0;
	text-align: center;
}
.info{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgb(42, 178, 234);
	font-weight: 700;
	color: rgb(255, 255, 255);
	text-align: center;
}
.rain {
	width: 20%;
	position: absolute;
	left: 20%;
	word-spacing: 150px;
	top: 3px;
}
.rain::before{
	display: block;
	content: '\f04e';
	font-family: weathericons;
	font-size: 38px;
	left: 0%;
	top: -18%;
	position: absolute;
}
.wind {
	width: 40%;
	right: 0%;
	position: absolute;
	word-spacing: 250px;
	top: 3px;
}
.wind::before{
	display: block;
	content: '\f050';
	font-family: weathericons;
	font-size: 30px;
	left: -20%;
	position: absolute;
	top: -10%;
}


