{% extends "base.html" %}

{% block content %}
<!--Header is only shown in mobile view - Tom-->
<header id = "hiddenHeader" style="align:center">
    <img id="headerLogo" src="/static/images/logo2.png" alt="logo">
</header>
<!--Setting up of Bootstrap for map section - Tom-->
<div class="container-fluid">

    <div class="row">
                <!--Added map to web page - Tom-->
                <div class="col-sm-12 padding-0">
                    <div id="map"></div>
                </div>

                </div>
    </div>

<div id='graph'>
<div id='chart'></div>
</div>


<footer>
    <!--Bootstrap container for the footer section - Tom-->
    <div class="container-fluid">
        <div class="row">
    <div class="col-xl-2" id="logoCol">
        <!--F.A.B logo - Tom-->
        <img class = "logo" id="footerLogo" src="/static/images/logo2.png" alt="logo">
    </div>

            <div class="col-xl-7">
                <!--Weather widget - Tom-->
                <!--https://codepen.io/cmd430/pen/yyQgLa-->
                <div id="weather_wrapper" style="background-color: rgb(42, 178, 234);
        border: 2px rgb(42, 178, 234) solid; border-radius: 6px;">
                    <div class="weatherCard">
                        <div class="currentTemp">
                            <span class="temp"><span id="temp"></span>&deg;</span>
                            <span class="location">Dublin</span>
                        </div>
                        <div class="currentWeather">
                            <span class="conditions" id="image" style="color:black"></span>
                            <div class="info">
                                <span class="rain"><span id="precip"></span> MM</span>
                                <span class="wind"><span id="wind"></span> MPS</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



    <div class="col-xl-3">
        <!--Date-Time picker - Tom-->
        <div style="width: 100%; margin-bottom:15px; height: 195px; background: rgb(237, 237, 237);
        border: 2px rgb(42, 178, 234) solid; border-radius: 6px; text-align: center">
            <img style="margin-top: 20px" src="{{url_for('static', filename='images/cal.png')}}" width="100px" height="auto" />
            <form action="/signUp" method="post" role="form" id="picker">
        <input style= "margin-top: 5px;" type="date" name="date" id = "date">
        <input type="time" name="time" id = "time">
                <button onclick="futureWeather()" id = "timepick" type="button">Submit</button>
            </form>
        </div>
    </div>

        </div>
    </div>
</footer>

<script>
    
    //Boolean represents whether user is looking for past info or current info.If false then the infowindow is refresehed. If true it is not
    var SEARCHING = false;
    //Array for all markers on page
    var MARKERS = new Array();
    //Map Initialisation
    function initMap() {
        var options = {
            zoom:13.75,
            center:{lat:53.345,lng:-6.268}
        }
    //Add map
    var map = new google.maps.Map(document.getElementById('map'),options);
    google.maps.event.addListenerOnce(map, 'idle', function(){jQuery('.gm-style-iw').prev('div').remove();}); 
    function addMarker(coords,address,available_bike_stands='Unknown',available_bikes='Unknown',number){
        //Choosing the correct image for the icon depending on availability of bikes
        if (available_bike_stands=='Unknown'){
            var photo_icon = './static/images/red_markerC.png';
        } 
        else {
            var ratio_bike_to_stands = available_bikes/available_bike_stands;    
            if (ratio_bike_to_stands<0.25){
                var photo_icon = './static/images/red_markerC.png';
            } 
            else if (ratio_bike_to_stands<=0.5){
                var photo_icon = './static/images/orange_markerC.png';
            } 
            else {
                var photo_icon = './static/images/green_markerC.png';
            }
        }
            var info = '<div><h3>'+address+'</h3><br><p>Number of bikestands:'+available_bike_stands+'</p><br><p>Current number of bikes:'+available_bikes+'</p></div>'
        //Add marker with specific information such as its id and number of stands per bike stand.
        var marker = new google.maps.Marker({
            position:coords,
            map:map,
            animation: google.maps.Animation.DROP,
            icon:photo_icon,
            id:number,
            stands:available_bike_stands,
            info:info
        });
        //Infowindow based on results when page is first loaded.
        var infoWindow = new google.maps.InfoWindow({
                content:marker.info
            });
            //Adding specific marker to the global array.
            MARKERS.push(marker);
            marker.addListener('click',function() {
            //Checking if user wants to see current or past results
            if (!SEARCHING){
                var pos = marker.getPosition();
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/infoWindow',
                    data: JSON.stringify({lat: pos.lat(),lng: pos.lng()}),
                    success: function(response) {
                        var response = JSON.parse(response);
                        //Infowindow's contents changed to be current results
                        infoWindow.setContent('<div><h3>'+response.address+'</h3><br><p>Number of bikestands:'+(response.bikestands)+'</p><br><p>Current number of bikes:'+response.available_bikes+'</p></div>');

                    //Setting up line chart
                    google.charts.load('current', {'packages':['corechart','line']});
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {
                        var data = new google.visualization.DataTable();
                        data.addColumn('string','Day');
                        data.addColumn('number', 'Bikes');
                        data.addColumn({type: 'string', role: 'tooltip'});
                        var weekdays = ['Sun','Mon','Tues','Wed','Thurs','Fri','Sat'];
                        var today = new Date();
                        //getDay works by saying Monday is 1 and so on until Sunday is 7.
                        var correct_weekday = today.getDay();
                        //Data is in reverse order so below we start at the end ad iterate until we reach the front
                        for (var i = response.station_history.length-1; i >= 0; i-=4){
                            if (Number(response.time[i].substring(0,2))*60+Number(response.time[i].substring(3,5))<20) {
                                correct_weekday+=1;
                            }
                            var average = 0;
                            //Getting results over twenty minutes
                            for (var j = 0; j > -4; j--){
                                average += response.station_history[i+j];
                            }
                            //Adding the date rows containing the Weekday and Time associated to a bike number
                            data.addRows([[weekdays[correct_weekday%7],Math.floor(average/4),"Bikes: "+Math.floor(average/4)+"\n Time:  "+response.time[i]]]);
                        }

                        var options = {
                          title: ""+response.address+"",
                          titleTextStyle: {color: '#ededed'},
                          fontSize: 16,
                          chartArea:{width:'75%'},
                          legend: {textStyle:{fontSize:1}},
                          hAxis: {showTextEvery: 70, textStyle:{color:'#ededed'}},
                          backgroundColor: 'transparent',
                          vAxis: {textStyle:{color:'#ededed'},titleTextStyle:{color:'#ededed'}}
                        };
                        function resize(){
                            var chart = new google.visualization.LineChart(document.getElementById('chart'));
                            //linear gradient on line graph from here
                            //"https://stackoverflow.com/questions/33949913/how-to-create-color-gradient-on-google-visualization-line-chart"
                            google.visualization.events.addOneTimeListener(chart, 'ready', function () {
                            addChartGradient(chart);});
                            chart.draw(data, options);}
                            window.onload = resize();
                            window.onresize = resize;
                            }

                function addChartGradient(chart) {
                    var chartDiv = chart.getContainer();
                    var svg = chartDiv.getElementsByTagName('svg')[0];
                    var properties = {
                        id: "chartGradient",
                        x1: "0%",
                        y1: "0%",
                        x2: "0%",
                        y2: "100%",
                        stops: [
                            { offset: '5%', 'stop-color': '#0C0' },
                            { offset: '50%', 'stop-color': '#ffa500'
                            },
                            { offset: '95%', 'stop-color': '#B20000' }
                        ]
                    };


                    createGradient(svg, properties);
                    var chartPath = svg.getElementsByTagName('path')[1];  //0 path corresponds to legend path
                    chartPath.setAttribute('stroke', 'url(#chartGradient)');
                }


                function createGradient(svg, properties) {
                    var svgNS = svg.namespaceURI;
                    var grad = document.createElementNS(svgNS, 'linearGradient');
                    grad.setAttribute('id', properties.id);
                    ["x1","y1","x2","y2"].forEach(function(name) {
                        if (properties.hasOwnProperty(name)) {
                            grad.setAttribute(name, properties[name]);
                        }
                    });
                    for (var i = 0; i < properties.stops.length; i++) {
                        var attrs = properties.stops[i];
                        var stop = document.createElementNS(svgNS, 'stop');
                        for (var attr in attrs) {
                            if (attrs.hasOwnProperty(attr)) stop.setAttribute(attr, attrs[attr]);
                        }
                        grad.appendChild(stop);
                    }

                    var defs = svg.querySelector('defs') ||
                        svg.insertBefore(document.createElementNS(svgNS, 'defs'), svg.firstChild);
                    return defs.appendChild(grad);
                                        }
                                    },
                            error: function(error) {
                                console.log(error);
                            }
                                });
                                //Opening infoWindow and setting a time out counter for it.
                                infoWindow.open(map, marker);
                                setTimeout(function(){infoWindow.close(map,marker);}, '10000');
                                map.setCenter(marker.getPosition());

            } else{
                //If this is called then the user has made a prediction and we want to return a graph that is relevant to that day instead of the last week. The code below does this
                var pos = marker.getPosition();
                var date_time = Submit();
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/prediction_day',
                    data: JSON.stringify({lat: pos.lat(),lng: pos.lng(),date: date_time[0],time: date_time[1]}),
                    success: function(response) {
                        var response = JSON.parse(response);

                    //Setting up line chart
                    google.charts.load('current', {'packages':['corechart','line']});
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {
                        var data = new google.visualization.DataTable();
                        data.addColumn('string','Time');
                        data.addColumn('number', 'Bikes');
                        data.addColumn({type: 'string', role: 'tooltip'});
                        var weekdays = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
                        var day = weekdays[response['day']-1];
                        //Response.time contains the last day of information
                        for (var i = response.time.length-1;i >= 0; i--){
                            data.addRows([[response.time[i],response.day_results[i],"Bikes: "+response.day_results[i]+"\n Time:  "+response.time[i]]]);
                        }

                        var options = {
                          title: ""+response.address+" usage last "+day+"",
                          titleTextStyle: {color: '#ededed'},
                          fontSize: 16,
                          chartArea:{width:'75%'},
                          legend: {textStyle:{fontSize:1}},
                          hAxis: {showTextEvery: 25, textStyle:{color:'#ededed'}},
                          backgroundColor: 'transparent',
                          vAxis: {textStyle:{color:'#ededed'},titleTextStyle:{color:'#ededed'}}
                        };
                        function resize(){
                        var chart = new google.visualization.LineChart(document.getElementById('chart'));
                        //linear gradient on line graph from here
                        //"https://stackoverflow.com/questions/33949913/how-to-create-color-gradient-on-google-visualization-line-chart"
                        google.visualization.events.addOneTimeListener(chart, 'ready', function () {
                        addChartGradient(chart); });
                        chart.draw(data, options);
                        }
                        window.onload = resize();
                        window.onresize = resize;
                        }

                function addChartGradient(chart) {
                    var chartDiv = chart.getContainer();
                    var svg = chartDiv.getElementsByTagName('svg')[0];
                    var properties = {
                        id: "chartGradient",
                        x1: "0%",
                        y1: "0%",
                        x2: "0%",
                        y2: "100%",
                        stops: [
                            { offset: '5%', 'stop-color': '#0C0' },
                            { offset: '50%', 'stop-color': '#ffa500'
                            },
                            { offset: '95%', 'stop-color': '#B20000' }
                        ]
                    };


                    createGradient(svg, properties);
                    var chartPath = svg.getElementsByTagName('path')[1];  //0 path corresponds to legend path
                    chartPath.setAttribute('stroke', 'url(#chartGradient)');
                }


                function createGradient(svg, properties) {
                    var svgNS = svg.namespaceURI;
                    var grad = document.createElementNS(svgNS, 'linearGradient');
                    grad.setAttribute('id', properties.id);
                    ["x1","y1","x2","y2"].forEach(function(name) {
                        if (properties.hasOwnProperty(name)) {
                            grad.setAttribute(name, properties[name]);
                        }
                    });
                    for (var i = 0; i < properties.stops.length; i++) {
                        var attrs = properties.stops[i];
                        var stop = document.createElementNS(svgNS, 'stop');
                        for (var attr in attrs) {
                            if (attrs.hasOwnProperty(attr)) stop.setAttribute(attr, attrs[attr]);
                        }
                        grad.appendChild(stop);
                    }

                    var defs = svg.querySelector('defs') ||
                        svg.insertBefore(document.createElementNS(svgNS, 'defs'), svg.firstChild);
                    return defs.appendChild(grad);
                        }
                        infoWindow.setContent(marker.info)
                        infoWindow.open(map, marker);
                        setTimeout(function(){infoWindow.close(map,marker);}, '50000');
                        map.setCenter(marker.getPosition());
                    },
            error: function(error) {
                console.log(error);
            }
                });
                //Opening infoWindow and setting a time out counter for it.
                infoWindow.open(map, marker);
                setTimeout(function(){infoWindow.close(map,marker);}, '50000');
                map.setCenter(marker.getPosition());
            }
        });

}
            {% for item in range(0,len) %}
            var position = {lat:{{lat[item]}},lng:{{lng[item]}}};
            var specific_address ="{{address[item]}}";
            var bikestands = "{{bikestands[item]}}";
            var available_bikes = "{{available_bikes[item]}}";
            var station_id = "{{number[item]}}";
             addMarker(position,specific_address,bikestands,available_bikes,station_id);
            {% endfor %}
}
//Adding event listener to submit button
document.getElementById('timepick').addEventListener('click',getBikeInfo);

function Submit(){
  var date = GetDate();
  var time = GetTime();
  return [date,time];
}

function GetDate(){
  var date = document.getElementById("date").value;
  return date;
}

function GetTime(){
  var time = document.getElementById("time").value;
  return time;
}

function getBikeInfo(){
    var date_time = Submit(),
        currentTimeEpoch = new Date(),
        future = date_time.toString().replace(',', ' '),
        futureEpoch = new Date(future).getTime(),
        epochDifference = futureEpoch - currentTimeEpoch;
    // Check that user only inputs date up to 5 days in future and not in the past
    if (epochDifference > 0 && epochDifference < 432000000){
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: '/get_bike_info',
            data: JSON.stringify({date: date_time[0],time: date_time[1]}),
            success: function(response) {
                var response = JSON.parse(response);
                //Setting SEARCHING to true as otherwise the infoWindow would update on click overwritting the following steps.
                SEARCHING = true;
                //The response contains an list ordered by station number
                for (var i = 0; i < 115;i++){
                    for (var j = 0; j<MARKERS.length;j++){
                        //This check is necessary as the station numbers start at 2 and go to 115.
                        if (i >= 20) {
                            k = i + 1
                        } else {
                            k = i
                        }

                        if (k+2 == MARKERS[j].id) {
                            //Recalculating availability and altering marker colours accordingly.
                            var ratio_bike_to_stands = response.bikes[i]/MARKERS[j].stands;
                            if (ratio_bike_to_stands<0.25){
                                MARKERS[j].setIcon('./static/images/red_markerC.png');
                            } else if (ratio_bike_to_stands<=0.5){
                                MARKERS[j].setIcon('./static/images/orange_markerC.png');
                            } else {
                                MARKERS[j].setIcon('./static/images/green_markerC.png');
                            }
                            MARKERS[j].info='<h3>'+response.address[i]+'</h3><br><p>Number of bikestands:'+MARKERS[j].stands+'</p><br><p>Predicted number of bikes:'+response.bikes[i]+'</p>';

                        }
                    }
                }
            },
            error: function(error) {
            console.log(error);
            }
        });
    }
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYZPR-bZ82RtqEpm2Zot3kMNaEZwxGKgM&callback=initMap"
        async defer></script>


{% endblock %}
